{% extends "auctions/layout.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="grad-head text-light pt-1 mb-1">
			<h2>Change Password</h2>
		</div>
	</div>
	
	{% if messages %}
		{% for message in messages %}
		
			<div class="row">
				<div class="grad-msg border border-danger rounded text-danger pt-1 mb-1">
					<h2>{{ message }}</h2>
				</div>
			</div>
		
		{% endfor %}
	{% endif %}
	
	<!--
	{% if message %}
		{{ message }}
	{% endif %}
	-->
	
	<form action="{% url 'change' %}" method="POST">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<input type="submit" class="btn btn-primary" value="Change">
	</form>
	Here by mistake? <a href="{% url 'index' %}">Back to listings</a>
{% endblock %}
